/* Background */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background:url('../image/home_bg.jpg') no-repeat center center fixed; /* Image overlay with gradient */
    background-size: cover; /* Ensures the image covers the entire background */

}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Update path if needed */
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}
.large-label {
    font-size: 1.2em; /* You can adjust this value as needed */
    font-weight: bold; /* Optional: makes the label bold */
}

/* Container */
.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 50px;
    background: transparent;
    border-radius: 50px;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 900);
}

/* Form Heading */
h2 {
    text-align: center;
    color: #0000ff;
    font-size: 28px;
    margin-bottom: 20px;
}

/* Form Sections */
.section {
    padding: 50px;
    margin-bottom: 30px;
    background: transparent; /* Semi-transparent background color as a fallback */
    border: 1px solid #000000;
    border-radius: 50px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
  
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover Effect for Sections */
.section:hover {
    transform: scale(1.02);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.5);
}

.section h3 {
    color: #444;
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;  /* Centers the button horizontally */
    width: 50%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}



/* Media Query for Responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 24px;
    }

    .section h3 {
        font-size: 18px;
    }

    button[type="submit"] {
        font-size: 16px;
    }
}
